$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;

body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

section {
    padding: 30px 20px 30px 20px;
}

h1 {
    font-size: 1.6rem;
    text-align: center;
    padding: 20px 30px 0 30px;
}

h2 {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    &__logo p {
        font-family: "shrikhand", sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 10px 0 10px 0;
    }

    /**lié à page menu : arrow et a**/
    &__arrow {
        position: absolute;
        left: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.introduction {
    background: #f7f7f7;

    p {
        text-align: center;
        padding: 0 15px 0 15px;
    }

    &__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#CECECE, 5%, #EAEAEA);
        height: 46px;
    }
}

.btn {
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 50px;

    &__content {
        color: white;
        font-weight: 700;
        background: linear-gradient(175deg, $color2, 65%, $color1);
        border: 0px;
        height: 46px;
        width: 200px;
        border-radius: 25px;

        &:hover {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
            opacity: 0.9;
            transform: scale(1.05);
            cursor: pointer;
        }
    }

}

.manual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__description {
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }

    &__explanation {
        margin: auto;
        display: flex;
        align-items: center;
        background: #F7F7F7;
        width: 275px;
        height: 60px;
        border-radius: 15px;
        margin-bottom: 20px;


        &:hover {
            background: #f5edff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

            .manual__icone {
                color: $color1;
            }
        }
    }

    &__number {
        position: absolute;
        margin-left: -10px;
        color: white;
        background-color: $color1;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    &__icone {
        color: #7e7e7e;
        margin-left: 25px;
        margin-right: 15px;
    }
}


.restaurant {
    background: #f7f7f7;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__vignette {
        padding-left: 15px; 
        padding-right: 15px;
        margin: auto;
    }

    &__summary {
        margin: auto;
        width: 300px;
        margin-bottom: 20px;
        border-radius: 20px;

        &:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
        }
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 20px;
        height: 70px;
    }

    h3,
    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #000000;
        height: 50%;
    }




    &__word {
        display: flex;
        justify-content: flex-end;

        &__position {
            position: absolute;
            background: $color3;
            color: #008766;
            margin-right: 10px;
            margin-top: 10px;
            height: 20px;
            width: 60px;
            text-align: center;
            vertical-align: middle;
            padding-top: 5px;

            p {
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }

    &__picture {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    &__icone {
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        opacity: 0.5;
        transition: opacity 2s;

        &:hover {
            opacity: 1;
            background: linear-gradient($color1, 40%, $color2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0px;
            cursor: pointer;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: "shrikhand", sans-serif;
        margin-top: 0;
        padding: 20px 20px 0 20px;
    }
}


footer {
    padding: 25px 20px 25px 20px;
    background: #353535;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0 0 5px 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.footer_icone {
    padding-right: 10px;
}

.footer__title {
    font-weight: 400;
    font-family: "shrikhand", sans-serif;
    color: white;
    margin-top: 0;
}

/** CSS menu**/

.poster {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    height: 200px;
    object-fit: cover;
    z-index: 0;
}


main {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.page {
    z-index: 10;
    margin-top: 150px;
    border-radius: 40px;

    &__title {
        display: flex;
        justify-content: space-between;
        border-radius: 30px 30px 0 0;
        background: #F7F7F7;
        padding: 30px 20px 0 20px;
        margin: 0;
    }

    &__icone {
        display: flex;
        align-items: center;
        padding-right: 30px;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        opacity: 0.5;
        transition: opacity 2s;

        &:hover {
            opacity: 1;
            background: linear-gradient($color1, 48%, $color2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0px;
            cursor: pointer;
        }
    }

    &__menu {
        background: #F7F7F7;
        padding-top: 0;
    }
}

.menu {
    &__organisation {
        display: flex;
        flex-wrap: wrap;
    }

    &__summary {
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        animation: transition 1.0s ease-in-out 0s forwards, opacity 1.0s ease-in-out 0s;

    }

    &__description {

        .check__container {
            width: 0px;
            background-color: $color3;
            overflow: hidden;
            height: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 0 15px 15px 0;
            transition: width 0.5s;
        }

        .check__icone {
            margin-left: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color3;
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            transition: margin-left 0.5s;
        }

        &:hover {
            .check__container {
                width: 60px;
                transition: width 0.5s;
            }

            .check__icone {
                margin-left: 0px;
                animation: rotation 0.5s ease-in;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: white;
        width: 300px;
        height: 70px;
        border-radius: 15px;
        margin: 20px 0px 20px 0px;
        overflow: hidden;
        padding-left: 10px;

        &:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
    }

    &__title {
        width: 100%;
        display: block;
        overflow: hidden;
        
        h3,
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        height: 100%;
        padding: 0 10px 20px 0;
    }
}

.page__menu {
    h3,
    p {
        margin: 0;
        padding: 0;
    }
}

.menu__part {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 3px solid $color3;
    width: 40px;
}

.btn {
    background: #F7F7F7;
}


/** animation apparition menu**/
@keyframes transition {
    from {
        margin-top: 70px;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}


/** animation rotation coche menu**/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/** loading spinner**/
.entirepage {
    animation: opacity 3.0s ease-in-out 0s;
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: auto;
    max-width: 1400px;
}


.loading {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: disparition 2.0s linear;
    animation-fill-mode: forwards;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid $color3;
    border-top-color: $color2;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

@keyframes disparition {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

/*Style appliqué au format Tablette et desktop*/
@media all and (min-width: 755px)
{
.footer__title {
    text-align: center;
}


 footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 footer li {
    margin-right: 15px;
 }

 .menu__content {
    width: 330px;
 }

}