@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

section {
  padding: 30px 20px 30px 20px;
}

h1 {
  font-size: 1.6rem;
  /**font-weight: 400;**/
  text-align: center;
  padding: 20px 30px 0 30px;
}

h2 {
  /**padding-top: 20px;**/
  padding-bottom: 10px;
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /**lié à page menu : arrow et a**/
}
.header__logo p {
  font-family: "shrikhand", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 10px 0 10px 0;
}
.header__arrow {
  position: absolute;
  left: 20px;
}
.header a {
  text-decoration: none;
  color: black;
}

.introduction {
  background: #f7f7f7;
  /**height: 300px;**/
}
.introduction p {
  text-align: center;
  padding: 0 15px 0 15px;
}
.introduction__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#CECECE, 5%, #EAEAEA);
  height: 46px;
}
.introduction__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}
.introduction__btn_contenu {
  color: white;
  font-weight: 700;
  /**linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background: linear-gradient(20deg, #FF79DA, 65%, #9356DC)**/
  background: linear-gradient(175deg, #FF79DA, 65%, #9356DC);
  /**background-color: #FF79DA;**/
  border: 0px;
  height: 46px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.introduction__btn_contenu:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  /**opacity: 0.9;**/
}

.manual {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.manual__description {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.manual__description__explanation {
  margin: auto;
  display: flex;
  align-items: center;
  background: #F7F7F7;
  width: 275px;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.manual__description__explanation:hover {
  /**margin: 5px;**/
  background: #f5edff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.manual__description__explanation:hover .manual__icone {
  color: #9356DC;
}
.manual__description__explanation__number {
  position: absolute;
  /**margin-right: 15px;**/
  margin-left: -10px;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manual__icone {
  color: #7e7e7e;
  margin-left: 25px;
  margin-right: 15px;
}

.restaurant {
  background: #f7f7f7;
}
.restaurant__container {
  display: flex;
  flex-wrap: wrap;
}
.restaurant__container__vignette {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.restaurant__container__vignette__summary {
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurant__container__vignette__summary:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.restaurant__container__vignette__summary__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
  height: 70px;
}
.restaurant__container__vignette__summary h3, .restaurant__container__vignette__summary p {
  margin: 0;
  padding: 0;
}
.restaurant__container__vignette__summary a {
  text-decoration: none;
  color: #000000;
  height: 50%;
}
.restaurant__word {
  display: flex;
  justify-content: flex-end;
}
.restaurant__word__position {
  position: absolute;
  background: #99e2d0;
  color: #008766;
  margin-right: 10px;
  /**left: 70%;**/
  margin-top: 10px;
  height: 20px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}
.restaurant__word__position p {
  font-size: 0.7rem;
  font-weight: bold;
}
.restaurant__picture {
  display: block;
  /**margin-left: auto;
  margin-right: auto;**/
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.restaurant__icone {
  /**color: white;**/
}
.restaurant__icone:hover {
  color: linear-gradient(#9356DC, 40%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-heart {
  color: red;
}

footer {
  padding: 25px 20px 25px 20px;
  background: #353535;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  padding: 0 0 5px 0;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer_icone {
  padding-right: 10px;
}

h4 {
  font-weight: 400;
  font-family: "shrikhand", sans-serif;
  color: white;
  margin-top: 0;
}

/** CSS menu**/
.bandeau {
  position: absolute;
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "shrikhand", sans-serif;
  margin-top: 0;
}

/**.titre_page {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 250px;
    width: 100%;
    background: #F7F7F7;
    padding:0;
}**/
.page {
  z-index: 10;
  position: relative;
  margin-top: 150px;
  border-radius: 40px;
}
.page__title {
  display: flex;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  background: #F7F7F7;
  padding: 30px 20px 0 20px;
  margin: 0;
  /**margin-top: 200px;**/
}
.page__icone {
  padding-right: 30px;
}
.page__menu {
  background: #F7F7F7;
  padding-top: 0;
}
.page__menu__organisation {
  display: flex;
  flex-wrap: wrap;
}
.page__menu__organisation__summary {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.page__menu__organisation__summary:hover {
  /**             #check {
               display: block;
               width: 50px;
               height: 100%;
               background-color:#99E2D0;
               color: white;
               align-items: center;
               justify-content: center;
               display: flex;**/
  /**transition: transform 2s;**/
  /**transform: rotate(360deg);
  }**/
}
.page__menu__organisation__summary__description__content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 20px 20px 10px;
  padding: 10px 10px 10px 10px;
}
.page__menu__organisation__summary__description__content:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.page__menu__organisation__summary__description__content__price {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 8px;
  transform: rotate(360deg);
}
.page__menu a {
  text-decoration: none;
  color: #000000;
}
.page__menu h3,
.page__menu p {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.btn {
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}

/**essai animation apparition menu**/
@keyframes transition {
  0% {
    margin-top: 70px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page__menu__organisation__summary {
  animation: transition 1s ease-in-out 0s forwards, opacity 1s ease-in-out 0s;
}

#check {
  display: none;
}

.check {
  display: block;
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  /**transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 4s;**/
  animation: rotation 4s infinite linear;
}

/**@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}

.page__menu__organisation__summary__description__content__price {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 100s infinite;
}**/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
#check:hover {
    animation: rotate360 1.0s ease-in-out 0s;
}
**/
/**
.essai_menu:hover {

}**/
/**
.fa-heart {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
    }
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
    }
.fa-heart:hover::before{
    color: red;
    cursor: pointer;
    }
    **/

/*# sourceMappingURL=style.css.map */
