body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

section {
    padding: 30px 20px 30px 20px;
}

h1 {
    font-size: 1.6rem;
    /**font-weight: 400;**/
    text-align: center;
    padding: 20px 30px 0 30px;
}

h2 {
    /**padding-top: 20px;**/
    padding-bottom: 10px;
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    &__logo p {
        font-family: "shrikhand", sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 10px 0 10px 0;
    }

    /**lié à page menu : arrow et a**/
    &__arrow {
        position: absolute;
        left: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.introduction {
    background: #f7f7f7;
    /**height: 300px;**/

    p {
        text-align: center;
        padding: 0 15px 0 15px;
    }

    &__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#CECECE, 5%, #EAEAEA);
        height: 46px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 50px;

        &_contenu {
            color: white;
            font-weight: 700;
            /**linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background: linear-gradient(20deg, #FF79DA, 65%, #9356DC)**/
            background: linear-gradient(175deg, #FF79DA, 65%, #9356DC);
            /**background-color: #FF79DA;**/
            border: 0px;
            height: 46px;
            width: 200px;
            border-radius: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

            &:hover {
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
                /**opacity: 0.9;**/
            }
        }

    }
}

.manual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__description {
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;

    &__explanation {
        margin: auto;
        display: flex;
        align-items: center;
        background: #F7F7F7;
        width: 275px;
        height: 60px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;


        &:hover {
            /**margin: 5px;**/
            background: #f5edff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

            .manual__icone {
                color: #9356DC
            }
        }

        &__number {
            position: absolute;
            /**margin-right: 15px;**/
            margin-left: -10px;
            color: white;
            background-color: #9356DC;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    }

    &__icone {
        color: #7e7e7e;
        margin-left: 25px;
        margin-right: 15px;
    }
}




.restaurant {
    background: #f7f7f7;

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__vignette {
            padding-left: 15px;
            padding-right: 15px;
            margin: auto;
        
            &__summary {
                margin: auto;
                width: 300px;
                margin-bottom: 20px;
                border-radius: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
                &:hover {
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
                }
        
                &__description {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 10px;
                    margin-right: 20px;
                    height: 70px;
                }
        
                h3, p {
                    margin: 0;
                    padding: 0;
                }
        
                a {
                    text-decoration: none;
                    color: #000000;
                    height: 50%;
                }
            }
        }
    }

    &__word {
        display: flex;
        justify-content: flex-end;

        &__position {
            position: absolute;
            background: #99e2d0;
            color: #008766;
            margin-right: 10px;
            /**left: 70%;**/
            margin-top: 10px;
            height: 20px;
            width: 60px;
            text-align: center;
            vertical-align: middle;
            padding-top: 5px;
    
            p {
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }

    &__picture {
        display: block;
        /**margin-left: auto;
    margin-right: auto;**/
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    } 
/**
    &__icone {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &:hover {
        background: linear-gradient(#9356DC, 40%, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: transparent;
    }
    }**/
}


footer {
    padding: 25px 20px 25px 20px;
    background: #353535;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0 0 5px 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.footer_icone {
    padding-right: 10px;
}

h4 {
    font-weight: 400;
    font-family: "shrikhand", sans-serif;
    color: white;
    margin-top: 0;
}

/** CSS menu**/

.bandeau {
    position: absolute;
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 0;
}


main {
display: flex;
flex-direction: column;
height: 100%;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "shrikhand", sans-serif;
    margin-top: 0;
}

/**.titre_page {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 250px;
    width: 100%;
    background: #F7F7F7;
    padding:0;
}**/

.page {
    z-index: 10;
    position: relative;
    margin-top: 150px;
    border-radius: 40px;

    &__title {
        display: flex;
        justify-content: space-between;
        border-radius: 15px 15px 0 0;
        background: #F7F7F7;
        padding: 30px 20px 0 20px;
        margin: 0;
        /**margin-top: 200px;**/
    }

    &__icone {
        padding-right: 30px;
    }

    &__menu {
        background: #F7F7F7;
        padding-top: 0;
    
        &__organisation {
            display: flex;
            flex-wrap: wrap;
        
            &__summary {
                padding-left: 10px;
                padding-right: 10px;
                margin: auto;
            
                &__description {

                    .check_container {
                        /**display: none;**/
                        width: 0px;
                        transition: width 2s;
                        background-color:#99E2D0;
                        overflow:hidden;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        border-radius: 0 15px 15px 0;
                        
                        transition: width 2s;
                 
                    }
                    
                    .check_icone {
                        display: none;
                        
                    }
                
                &:hover {

                    .check_container {
                        /**display: block;**/
                        /**width: 60px;**/
                      
                        width: 60px; 
                        transition: width 2s;
                        }
                    
                    .check_icone {
                        display: block;
                        /**
                        display: flex;
                        display: block;**/
                        align-items: center;
                        justify-content: center;
                        
                        color: #99E2D0;
                        background-color: white;
    
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        /**transform: rotate(180deg);
                        transition-property: transform;
                        transition-duration: 4s;**/
                        /**animation: rotation 4s infinite linear;**/
                        animation: rotation 0.5s ease-in 250ms;
                        }
                }
            }
                    &__description__content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background: white;
                        width: 300px;
                        height: 70px;
                        border-radius: 15px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        margin: 20px 20px 20px 10px;
                        /**padding: 10px;**/
            
                        &:hover {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
                        }

                        &__title {
                            /**padding: 10px;**/
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            display: block;

                            h3, p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            }
                        }
                        
                        &__price {
                            display: flex;
                            align-items: flex-end;
                            font-weight: bold;
                            height: 100%;
                            padding: 0 10px 20px 0;
                            /**
                            p {
                            padding: 0 10px 20px 0;
                            }**/
                        }
                    }
            }
        }
    
            a {
                text-decoration: none;
                color: #000000;
            }
    
            h3,
            p {
                margin: 0;
                padding: 0;
            }
        }
    }


h6 {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
}

.btn {
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 50px;
}


/** animation apparition menu**/
@keyframes transition {
    from {
        margin-top: 70px;
    }
    to {
        margin-top: 0px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

.page__menu__organisation__summary {
    animation: transition 1.0s ease-in-out 0s forwards, opacity 1.0s ease-in-out 0s;
}




/** animation rotation coche menu**/
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

/** animation apparition coche menu**/

    /**@keyframes slide {
        from {
            margin-left: 180px;
        }
        to {
            margin-left: 0px;
        }
    }**/

    /**@keyframes slide {
        from {
            width: 0px;
        }
        to {
            width: 60px;
        }
    }
    
    .page__menu__organisation__summary:hover .check_container {
        animation: slide 2.0s ease-in-out 0s forwards;
    } 

    **/



   /** .page__menu__organisation__summary:hover .page__menu__organisation__summary__description__content__price {
        animation: slide 2.0s ease-in-out 0s forwards;
    }**/

    


/**
    .page__menu__organisation__summary:hover .check_container {
        animation: opacity 1.0s ease-in-out 0s;
    }**/
/**
    .page__menu__organisation__summary:hover .page__menu__organisation__summary__description__content__price {
        animation: slide 2.0s,
    }**/



/** Animation remplissage coeur **/
/**.icon {
    color: xxx;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: xxx;
}**/

.restaurant__icone {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /**transform: scaleX(0);**/
    transition: color 2s ease-out;
    /**animation: background-size 5s ease-in-out 0s forwards;**/

    &:hover {
        /**background: linear-gradient(#9356DC, 40%, #FF79DA);**/
        color: purple;
        -webkit-background-clip: text;
        /**-webkit-text-fill-color: transparent;**/
        -webkit-text-stroke-color: transparent;
        /**transform: scaleX(1);**/
    }
}

/**@keyframes background-size {
    from {
        background: 0%;
    }
    to {
        background: 100%;
    }
}**/


/**
.coeur_remplissage {
    background: linear-gradient(#9356DC, 40%, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: transparent;
    transition: all 0.3s linear 0s;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
}
 
.restaurant__icone:hover .coeur_remplissage {
    height: 100%;
}
**/



/**
.fa-heart {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
    }
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
    }
.fa-heart:hover::before{
    color: red;
    cursor: pointer;
    }
    **/